
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
	padding:0;
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	width: 100%;
}

body li {
	list-style-type: none;
}

body a {
	text-decoration: none;
	text-transform: uppercase;
}

body ul {
	padding:0;
	margin: 0;
}

/*-----------------Header-----------------*/

header {
	width: 1160px;
	display:flex;
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 50px;
	padding-bottom: 18px;
	height: 65px;
	z-index:1;
	position: relative;
}

header a {
	text-decoration: none;
	color: #000000;
	font-size:16px;
	text-transform: uppercase;
	font-weight:500;
}

.main-menu {
	display: flex;
	margin:0;
	padding: 0;
	margin-left: 177px;
	width: 486px;
	margin-top: 32px;
	text-align:left;

}

.main-menu li {
	 list-style-type: none;
	 margin:0 23px;
}

.main-menu li a:hover,
.cart a:hover
{
	color:#fb565a;
}

.main-menu li a:focus,
.cart a:focus
{
	padding-bottom:7px;
	border-bottom: 2px solid #fb565a;
	outline:none;
}

.main-menu li a:active,
.cart a:active
{
	color: rgba(0,0,0,0.3);
}


.main-header img:hover
{
	opacity: 0.8;
}

.main-header img:active
{
	opacity: 0.3;
}

.cart {
	/*text-align: right;*/
	display: inline-flex;
	/*margin-left: 223px;*/
	margin-top: 32px;
	/*width:117px;*/
	margin-left:auto;
}

.cart img {
	opacity: 0.3;
	margin-right:15px;
}

/*.cartText {
	padding-left:25px;
}*/

/*-----------------Main-----------------*/

main a {
	text-decoration: none;
	font-size:16px;
	text-transform: uppercase;
	font-weight:500;
	/*color: white;*/
}

/*-----------------section class="presentation">-----------------*/

.presentation {
	display: flex;
	justify-content: space-between;
	margin-left: 140px;
	z-index:1;
	position: relative;
	height: 412px;
	width: 1130px;
}

.presentation img {
	/*max-width: 700px;*/
	max-height: 412px;
	object-fit: contain;
}

.advantages {
	margin-top:70px;
	/*margin-right: 50px;*/
}

.advantages b {
	font-size:55px;
	font-weight:500;
	line-height: 55px;
}

.advantages p {
	font-size:16px;
	font-weight:400;
	line-height: 24px;
}

.advantages a:hover {
	background-color: #e74246;
}

.advantages a:active {
	background-color: #d7373b;
	color: #e37376;
}

/*-----------------Услуги-----------------*/

.services {
	margin: 0;
	padding: 0;
	display: flex;
	width:1100px;
	margin-left: 140px;
	margin-top: 80px;
	margin-bottom: 80px;
}

.services li {
	list-style-type: none;
}

.services h3 {
	font-size:24px;
	text-transform: uppercase;
	font-weight:700;
}

.services p {
	font-size:16px;
	font-weight:400;
	line-height: 24px;
}

.services a:hover {
	background-color: #e74246;
}

.services a:active {
	background-color: #d7373b;
	color: #e37376;
}

.services .green:hover {
	background-color: #00bc6c;
}

.services .green:active {
	background-color: #00aa62;
	color: #4dc491;
}

.services .yellow:hover {
	background-color: #eab534;
}

.services .yellow:active {
	background-color: #e5a722;
	color: #edc265;
}

/*-----------------О нас-----------------*/

.description {
	display: flex;
	height: 525px;
	width: 1160px;
	margin-left: 140px;
	margin-right: 140px;
}

.description-text {
	font-size:16px;
	font-weight:400;
	line-height: 24px;
	width: 660px;
	margin-top: 80px;
	margin-bottom: 75px;
}

.description-text b:nth-of-type(1) {
	font-size:45px;
	font-weight:500;
	line-height: 45px;
	text-transform: none;
}

.description-text b {
	font-size:16px;
	font-weight:700;
	text-transform: uppercase;	
}

.description-text li {
	margin-top:35px;
}

.description-text p {
	margin-bottom:45px;
	margin-top: 35px;
} 

.description-stats {
	margin-top: 40px;
	width: 360px;
	margin-left: 140px;
}

.description-stats p {
	font-size:16px;
	font-weight:700;
	text-transform: uppercase;	
	text-align: center;
}

/*.description-stats li {}*/

.description-stats li b {
	font-size:45px;
	font-weight:700;
}

.description-stats span {
	font-size:0.5em;
	vertical-align:super;
}

.description-stats li p {
	font-size:16px;
	font-weight:400;
	line-height: 18px;
	text-transform: none;	
	text-align: left;	
	margin-right: 25px;
}

.description-stats ul {
	display: flex;
	margin: 0;
	padding: 0;
}

/*-----------------Партнеры-----------------*/

.partners ul {
	display: flex;
	justify-content: space-between;
}

.partners li {
	list-style-type: none;
}

.partners img {
	opacity: 0.2;
}

.partners img:hover {
	opacity: 1;
}

.partners img:active {
	opacity: .1;
}

.partners {
	width:1160px;
	margin-left:140px;
	height:180px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.verticalBorder {
	margin:auto 0;
	display: block;
	height: 52px;
	width: 2px;
	background-color: #eeeeee;
}

/*-----------------Контакты-----------------*/

.contacts {
	margin-top: 80px;
	position: relative;
}

.contacts b {
	margin-top:0;
	margin-left: 50px;
	text-transform: uppercase;
	font-size:18px;
	font-weight:700;
	margin-bottom: 30px;
}
.contacts p {
	margin-top:0;
	margin-bottom:20px;
	margin-left: 50px;
	font-size:16px;
	font-weight:400;
	color:#666666;
	line-height: 18px;
}

.contacts div {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding-top: 54px;
	width: 320px;
	background-color: #fff;
	height: 256px;
	left:140px;
	top:54px;
}

.mapMarker {
	display: block;
	position: absolute;
	top: 88px;
	left: 680px;

}

/*.contacts a {
	margin:0 auto;
	display: block;
	width: 220px;
}
*/

/*-----------------Обратная связь-----------------*/

.writeToUs {

	left:50%; 
	margin-left:-480px;
	top: 50%;
	margin-top:-295px;
	position: fixed;
	width: 960px;
	background-color: #eee;
	height: 590px;	
	z-index: 2;
}

.writeToUs div {
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 70px;
	/*margin-top: 50px;*/

}

.writeToUs b{
	/*line-height: 45px;*/
	display:block;
	padding:0;
	font-size:45px;
	font-weight:500;
	margin: 0 0 45px 0;
}

.writeToUs li label{
	font-size:16px;
	font-weight:700;
}

.writeToUs input {
	font-size:16px;
	font-weight:400;
	border-color:#d7dcde;
	width: 360px;
	height: 50px;
}

.writeToUs li .text-form {
	width: 760px;
	height: 120px;
}

.writeToUs li input:hover {
	border-color:#b4b9bb;
}

.writeToUs li input:focus {
	border-color:#000000;
	outline:none;
}

.writeToUs img {
	opacity: .3;
}

.writeToUs img:hover {
	opacity: 1;
}

.writeToUs img:active {
	opacity: .1;
}

.writeToUs ul {
	margin:0;
	padding:0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.writeToUs li {
	width: 360px;
	padding-bottom: 35px;
}

.writeToUs p {
	margin:0 0 10px 0;
	padding:0;
}

.closeWrite {
  position: absolute;
  right: 90px;
  top: 78px;
	
}
/*-----------------Footer-----------------*/

.circle {
	height:80px;
	width:80px;
	background-color:#e1e1e1;
	border-radius:40px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}


footer b {
	font-size:36px;
	font-weight:700;
}

footer p {
	font-size:16px;
	font-weight:400;
	color:#444444;
}

.social {
	display: flex;
	margin-top: 70px;
	margin-left: 144px;
	margin-bottom: 70px;
}

.social ul {
	margin:0;
	padding:0;
	display: flex;
	min-width: 260px;
	justify-content: space-between;
}

.friends {
	margin-left:140px;
}

.friends p {
	font-size:16px;
	font-weight:400;
}

.friends b {
	font-size:36px;
	font-weight:700;
}

.circle:hover {
	background-color:#e74246;
}

.circle:active {
	background-color:#d7373b;
}

.circle:active img{
	opacity: 0.3;
}

/*----------------------------------*/

.button {
	display: block;
	text-align:center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #fb565a;
	font-size:16px;
	font-weight:500;
	padding-top: 16px;
	padding-bottom: 16px;
	width: 160px;
}

.green {
	background-color: #00ca74;
}

.yellow {
	background-color: #efc84a;
}

.slider_button {
	width: 240px;
}

.contacts_button {
	width: 220px;
	margin: 15px auto;

/*	display: block;*/
}

.writeToUs_button {
	width: 260px;
	margin-top: 10px;
}


/*----------------------------------*/

.greyback {
	background-color: #eeeeee;
	position: absolute;
	height: 545px;
	min-width: 1440px;
	width: 100%;
	left: 0;
	top:0;
	z-index: 0;

}
